<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>groot | Task</title>

  <!-- Import styles-->
  <link href="style.css" rel="stylesheet">
  <!-- Import fonts -->
</head>
<body class="bodystyle">
  <nav id="navbar">
<div class="display:inline-block">
    <ul>
      <li>
        <a>groot</a>  
      </li> 
        <li>
            <a>Login</a>
        </li> 
          <li >
                <a>Sign up</a>
            </li> 
    </ul>
</div>
  </nav>

    <div class="icon" style="background-image:url('assets/stranger.PNG'); background-size:cover"></div>

    <div class="info">
    <h1>Hello Stranger</h1>
    <h2>Talk to a stranger for at least 5 minutes.</h2>
    <h3>Approach a stranger in your surrounding. Start a conversation with her/him. 
        Here are some questions you can ask to get your started:
        1) What are your hobbies?
        2) What are you most excited for this week?
        3) Where did you travel during your last vacation?
    </h3>
      <button>Mission complete</button>
    </div>

</body>
</html>