<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>groot | Challenge</title>

  <!-- Import styles-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <!-- Import fonts -->
	<link rel="shortcut icon" href="one_copy.ico">
</head>

<body class="bodystyle">
  <nav id="navbar">
<div class="display:inline-block">
    <ul>
      <li>
        <a>groot</a>  
      </li> 
        <li>
            <a>Login</a>
        </li> 
          <li >
                <a>Sign up</a>
            </li> 
    </ul>
</div>
  </nav>

{% block content %}

	<h2>{{title}}</h2>
  <h3>{{level}}</h3>

 	<div class="challenge">
    	<p>{{challenge}}</p>
   </div>

{% endblock %}

  <div> <button>Mission complete</button> </div>

  <h4><a href = "\"> Back </a></h4>

</body>
</html>

