<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>groot | Home</title>
  <!-- Import styles-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bodystyle">
  <nav id="navbar">
<div class="display:inline-block">
    <ul>
      <li>
        <a id="groot">groot</a>  
      </li> 
        <li>
            <a href="/login">Login</a>
        </li> 
    </ul>
</div>
</nav>

<section  id="outerContainer">
    <body>
        <div>
            <h1>All challenges</h1> 
            <h3>Choose freely whatever challenge is most intriguing to you.</h3>
        </div>
</section>

<section id="outerContainer">
{% for challenge in challenge_overview %}
  <div class="card" id="card-{{ challenge[3] }}">
   <h3><span>{{ challenge[0] }}</span>
    <span class="subline">{{ challenge[1] }}</span>
    </h3>

    <div class="popup"  onclick="pop({{ challenge[3] }})">Click here to see description of challenge.<span class="popuptext" id="{{ challenge[3] }}">{{challenge[2]}}</span>
    </div>
    <div> <button id="button" onclick="onComplete({{ challenge[3] }})">Mission complete</button> </div>
  </div>
{% endfor %}
</section>

<script>
    // When the user clicks on <div>, open the popup
    function pop(id) {
      var popup = document.getElementById(id);
      var allPopups = document.querySelector(".popuptext");
      popup.classList.toggle("show");
    }

    // When the user completes a challenge, make the div grey
    function onComplete(id) {
      var card = document.getElementById("card-"+id);
      card.classList.toggle("completed");
    }
  </script>

</body>
</html>